@import "mixin";

html,
body {
  min-height: 100vh;
}

body {
  @extend %poppins-300;
  font-size: 16px;
  line-height: 150%;
  color: $dark-brown;
  background-color: $white;
  z-index: 300;

  @include mq("tablet-2") {
    font-size: 14px;
    }
}

.container {
  margin: 0 auto;
  padding: 0 45px;
  max-width: 1200px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animation {
  @extend %transition;

  &:hover {
    color: $blue;
  }

  &:hover svg {
    fill: $blue;
  }
}

.logo {
  @extend %transition;
  &:hover {
    opacity: 0.5;
  }
}

.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: $white;
  font-size: 50px;
  @extend %poppins-700;
  line-height: 100%;
  margin-bottom: 34px;
  padding-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/icons/dots.svg");
    width: 49px;
    height: 4px;
    color: $white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq('tablet-2') {
    font-size: 40px;
   }
}

.subtitle {
  color: $blue;
  font-size: 20px;
  @extend %poppins-500;
  margin-bottom: 10px;

  @include mq('tablet-2') {
    font-size: 17px;
   }
}

.map iframe {
  height: 700px;
  width: 100%;
  display: block;
  position: relative;
}

.header-fixed {
  background-color: #000;
}

.header__wrapper {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  transition: padding 0.4s;
  z-index: 100;
}

.lock {
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
  }
}

.burger {
  @include burger;
  display: none;

  @include mq("desktop") {
    display: block;
    order: 1;
    margin-left: 20px;
  }
}

.burger-menu {
  transform: translateX(1000%);
  position: fixed;
  right: 0;
  top: 110px;
  bottom: 0;
  background-color: $dark-blue;
  padding: 36px;
  height: 100vh;
  width: 300px;
  transition: transform 0.1s ease-in-out;

  &--active {
    transform: translateX(0);
  }

  &__items {
    margin-bottom: 30px;
  }

  &__item {
    color: $white;
    font-size: 18px;
    line-height: normal;
    @extend %poppins-400;

    &:not(:last-child){
      padding-bottom: 10px;
    }
  }

  @include mq('tablet-2') {
    top: 80px;
   }
}

.contacts-socials {
  display: flex;
  align-items: center;

  &__social {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__sociallink {
    border-radius: 50%;
    width: 39px;
    height: 39px;
    @extend %transition;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    & svg {
      height: 20px;
      fill: $white;
      @extend %transition;
    }

    &:hover {
      background-color: $blue;
    }
  }
}

.contacts-list {
  display: flex;

  @include mq("tablet-2") {
    display: none;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 124px;
  
      @include mq("desktop") {
        margin-right: 90px;
      }
    }
  }
  
  &__link {
    @extend %transition;
    padding-left: 26px;
    position: relative;
    color: $white;
  
    & svg {
      @extend %transition;
      position: absolute;
      width: 19px;
      height: 19px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      fill: $white;
    }
  }
}




